@using ArchiveFqp.Components.Pages.Auth

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="bi-mortarboard" style="font-size: 2rem; color: whitesmoke; margin-right:1rem"></span>Реестр ВКР АГТУ
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="works/gallery" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Работы
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="works/add" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Добавить работу
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link lh-1" href="works/applications/send" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Заявления на просмотр работ
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link lh-1" href="works/applications/review" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Проверка заявлений
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link lh-1" href="works/attributes/send" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Заявления на добавление атрибутов
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link lh-1" href="works/attributes/review" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Проверка заявлений
            </NavLink>
        </div>
    </nav>
</div>

