@page "/works/applications/send"
@rendermode @(new InteractiveServerRenderMode())

<PageTitle>АГТУ - Заявления на просмотр работы</PageTitle>

@if (RendererInfo.IsInteractive)
{
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="card-title fw-bold">Новое заявление</div>
                        <WorkApplication WorkId="WorkId" @key="WorkId"/>
                    </div>
                </div>
            </div>

            <!-- Информация -->
            <div class="col-md-5">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="card-title fw-bold">Информация</div>
                        <div class="fs-6">
                            <div>
                                <h5 class="fw-semibold mb-0">Кто может подать заявку?</h5>
                                <p class="text-gray-600 mb-1">
                                    Студенты и преподаватели университета могут подавать заявки на получение работ для ознакомления.
                                </p>
                            </div>

                            <div>
                                <h5 class="fw-semibold mb-0">Срок рассмотрения</h5>
                                <p class="text-gray-600 mb-1">
                                    Заявки рассматриваются в течение 2-3 рабочих дней. Вы получите уведомление о решении.
                                </p>
                            </div>

                            <div>
                                <h5 class="fw-semibold mb-0">Срок использования</h5>
                                <p class="text-gray-600 mb-1">
                                    Одобренная работа выдается на срок до 14 дней. Возврат обязателен в указанную дату.
                                </p>
                            </div>

                            <div>
                                <h5 class="fw-semibold mb-0">Важно</h5>
                                <p class="text-gray-600 mb-1">
                                    Полученные работы предназначены только для ознакомления. Копирование и плагиат запрещены.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-md-12">
            <div class="card mb-1">
                <div class="card-body">
                    <div class="card-title fw-bold fs-4">Все заявления</div>
                    <WorkApplications />
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "w")]
    public int? WorkId { get; set; }
}
