@page "/works/applications/review"
@rendermode @(new InteractiveServerRenderMode())

<PageTitle>АГТУ - Заявления на просмотр работы</PageTitle>

@if (RendererInfo.IsInteractive)
{
    <div class="container">
        <div class="row-md-12">
            <div class="card mb-1">
                <div class="card-body">
                    <div class="card-title fw-bold fs-4">Все заявления</div>
                    <WorkApplications IsReviewMode="true"/>
                </div>
            </div>
        </div>
    </div>
}
