@using System.Security.Claims
@using ArchiveFqp.Interfaces.Auth
@inject NavigationManager Navigation
@inject IAuthService AuthService
@rendermode @(new InteractiveServerRenderMode())

<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
                @userName
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button" @onclick="@(() => Navigation.NavigateTo("/user/profile", false))">Профиль</button></li>
                <li><hr class="dropdown-divider"></li>
                <li><button class="dropdown-item" type="button" @onclick="Logout">Выйти</button></li>
            </ul>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;
    private string userName = "Гость";

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await authenticationStateTask;
        ClaimsPrincipal user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            userName = user.Identity?.Name ?? "Пользователь";
        }
    }

    private async Task Logout()
    {
        Navigation.NavigateTo("/logout", true);
    }
}