@page "/Error"
@using System.Diagnostics
@using ArchiveFqp
@using ArchiveFqp.Client
@using ArchiveFqp.Components
@using ArchiveFqp.Components.Layout

<PageTitle>Ошибка</PageTitle>

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка в обработке вашего запроса.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@RequestId</code>
    </p>
}

<h3>Режим разработчика</h3>
<p>
    Смена среды на среду <strong>Разработчика</strong> отобразит больше деталей информации о случившейся ошибке.
</p>
<p>
    <strong>Среда разработчика не предназначена для эксплуатации приложения.</strong>
    Это может привести к отображению чувствительной информации при исключениях конечному пользователю.
    Для локальной отладки включите среду <strong>Разработчика</strong>, установив переменную <strong>ASPNETCORE_ENVIRONMENT</strong> в среду <strong>Разработки</strong>
    и перезпустите приложение.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
