@using ArchiveFqp.Models.DTO
@using ArchiveFqp.Models.DTO.Work
@using ArchiveFqp.Models.Settings.SettingsArchive
@using ArchiveFqp.Interfaces.ReferenceData
@using ArchiveFqp.Interfaces.Work
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedSessionStore
@inject IWorkService WorkService
@inject IJSRuntime JSRuntime
@inject SettingsArchive Settings
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="container mt-4">
    <div class="row">
        <div class="accordion" id="accordionWork">
            <div class="accordion-item">
                <div class="col-12">
                    <div class="card shadow-sm">
                        <div class="card-header bg-primary">
                            @if (WorkDto.Attributes == null)
                            {
                                <h4 class="mb-0 text-white">
                                    <i class="bi bi-plus-circle me-2"></i>Добавление новой работы
                                </h4>
                            }
                            else
                            {
                                <button class="accordion-button bg-transparent" style="height:20px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWorkData" aria-expanded="true" aria-controls="collapseWorkData">
                                    <h4 class="mb-0 text-white">
                                        <i class="bi bi-plus-circle me-2"></i>Добавление новой работы
                                    </h4>
                                </button>
                            }
                        </div>
                        <div id="collapseWorkData" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionWork">
                            <div class="accordion-body">
                                <div class="card-body">
                                    <WorkDataAdd @bind-WorkDto="@WorkDto" @bind-WorkDto:after="OnWorkDTOChanged"
                                                 UpdateSessionStore="false"
                                                 SessionStoreNameWorkDTO="@SessionStoreNameWorkDTO" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (WorkDto.Attributes != null)
            {
                <div class="accordion-item">
                    <div class="col-12">
                        <div class="card shadow-sm">
                            <div class="card-header bg-primary">
                                <button class="accordion-button bg-transparent" style="height:20px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWorkAttributes" aria-expanded="false" aria-controls="collapseWorkAttributes">
                                    <h4 class="mb-0 text-white">
                                        <i class="bi bi-book me-2"></i>Атрибуты новой работы
                                    </h4>
                                </button>
                            </div>

                            <div id="collapseWorkAttributes" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionWork">
                                <div class="accordion-body">
                                    <div class="card-body">
                                        <WorkAttributesAdd @bind-Attributes="WorkDto.Attributes"
                                                           @bind-Attributes:after="OnAttributesChanged"
                                                           @bind-Disabled="WorkDto.AttributesValuesAdded"
                                                           @bind-Disabled:after="OnAttributesChanged" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public WorkCreateDto WorkDto { get; set; } = new();
    [Parameter] public EventCallback<WorkCreateDto> WorkDTOChanged { get; set; }
    [Parameter] public string SessionStoreNameWorkDTO { get; set; } = "workDTO";
    [Parameter] public bool UpdateSessionStore { get; set; } = true;

    private Dictionary<int, List<string>> attributesValues = [];

    private async Task OnWorkDTOChanged()
    {
        if (WorkDto.IdРаботы != 0)
        {
            await Task.Delay(300);
            WorkDto.Attributes = (await WorkService.GetWorkAttributesAsync(WorkDto.IdРаботы, []))
            ?.Select(a =>
                {
                    if (a.Данные == Settings.AttributesValueAwait)
                        a.Данные = "";
                    return a;
                }).ToList();

            if (WorkDto.Attributes == default)
            {
                WorkDto.AttributesValuesAdded = true;
                await End();
            }
            else
            {
                StateHasChanged();
                // Закрываем аккордеон данных и открываем - атрибутов
                await JSRuntime.InvokeVoidAsync("eval",
                "document.querySelector('[data-bs-target=\"#collapseWorkData\"]').click()");
            }
        }
        StateHasChanged();
        await WorkDTOChanged.InvokeAsync(WorkDto);
    }

    private async Task OnAttributesChanged()
    {
        await ProtectedSessionStore.SetAsync(SessionStoreNameWorkDTO, WorkDto);
        if (WorkDto.AttributesValuesAdded)
        {
            await End();

            // Закрываем аккордеон атрибутов и открываем - данных
            await JSRuntime.InvokeVoidAsync("eval",
            "document.querySelector('[data-bs-target=\"#collapseWorkData\"]').click()");
        }
        await WorkDTOChanged.InvokeAsync(WorkDto);
    }

    private async Task End()
    {
        await WorkService.UpdateStatusAsync(WorkDto.IdРаботы, (await WorkService
                .GetWorkStatusesAsync())
                    .First(sw => sw.Название == Settings.WorkInArchiveStatus).IdСтатусаРаботы);

        // Даем пользователю время на просмотр результата перед очисткой данных
        await Task.Delay(2000);
    }
}
